*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	margin: 80px;
	font-size: 3rem;
	font-family: 'Pacifico', cursive;
}
section {
		position: relative;
		padding: 15px;
		width: 100%;
}
p {
		position: relative;
		clear: right;
		padding: 10px;
		font-family: 'Pacifico', cursive;
		font-weight: lighter;
}
.chicken{
	text-align: center;
	float: right;
	width: 25%;
	border: 1px solid black;
	background-color: white;
	margin-top: 0;
	background-color: blue;
}
.beef{
	text-align: center;
	float: right;
	width: 25%;
	border: 1px solid black;
	background-color: white;
	margin-top: 0;
	background-color: red;
}
.sushi{
	text-align: center;
	float: right;
	width: 25%;
	border: 1px solid black;
	background-color: white;
	margin-top: 0;
	background-color: orange;
}
div {
		position: relative;
		border: 1px solid black;
		width: 100%;
		margin: auto;
}
.div1{
	background-color: cyan;
	color: black;
}
.div2{
	background-color: pink;
	color: black;
}
.div3{
	background-color: yellow;
	color: black;
}

#p1 #p2 #p3{
	overflow: auto;
}

/* larger devices */
@media(min-width:992px)
{
	.column-lg-4{
		float: left;
		width: 33.33%
	}
}

/* medium devices */
@media(min-width:768px) and (max-width: 991px)
{
	.column-md-6{
		float: left;
		width: 50%;
	}
	.column-md-12{
		float: left;
		width: 100%;
	}
}

/* small-devices */
@media(max-width: 767px)
{
	.column-sm-12 {
		float: left;
		width: 100%;
	}
}